<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User Account Page - BANR</title>

<!-- Modal Jquery -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"></link>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <link href="../../css/small-business.css" rel="stylesheet"></link>
    
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"></link>
<!-- Angular Material style sheet -->
    
 <!--Google Maps Call (might need to move this or change something, mainly with the callback portion at the end)-->
  <script defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBglBmUK-v4u4sdJdQnljxl_wwsNu_12w">      
  </script>
    
</head>
<body ng-app="angularApp">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
		style="background-color: #002A5C">
		<div class="container" style="height: 66px">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="/icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/home"> <img
					src="images/handholding.jpg" align="middle" alt=""
					style="width: 60px; height: 60px;">
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1" align="right" color="white">
				<ul class="nav navbar-nav">
					    <li>
                       <a href="/about" style="color: white">About</a>
                   </li>
                   <li>
                       <a href="/services" style="color: white">Services</a>
                   </li>
                   <li>
                       <a href="/developercontact" style="color: white">Contact</a>
                   </li>
                   <li>
                       <a th:if="${session.user != null}" href="/hudlocator" style="color: white">HUD Locator</a>
                   </li>
                    <li>
                        <a th:if="${session.user != null && session.user.email != 'admin@banr.gov'}"href="#" id="linkThatOpensModal" style="color: white">Manage Profile</a>
                    </li>
                    <li>
                       <a th:if="${session.user != null && session.user.email == 'admin@banr.gov'}" href="/admin" style="color: white">Administration</a>
                   </li>                                  
                   <li>
                       <a th:if="${session.user != null}" href="/userLogout" style="color: white">Logout</a>
                   </li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav> 
    
    
    
    <div ng-controller="UserCtrl">
        <br /> <br />
        <button ng-click="addButtonClick()" class="btn btn-primary">Add
            User</button>
        <h2>Users</h2>
        <table class="table table-striped table-bordered" id="userTable"
            style="width: 100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Address Line 1</th>
                    <th>Address Line 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Password</th>
                    <th>Admin</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{ user.userId }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.addressline1 }}</td>
                    <td>{{ user.addressline2 }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.state }}</td>
                    <td>{{ user.zipcode }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                        <button ng-click="editUser(user.userId)"
                            class="btn btn-success">EDIT</button>
                        <button ng-click="deleteUser(user.userId)"
                            class="btn btn-danger">DELETE</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="display: none">
            <div class="md-dialog-container" id="userForm">
                <md-dialog>
                <h2>{{action}} User</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">First
                            Name</label>
                        <div class="col-sm-10">
                            <input ng-model="user.firstName" type="text"
                                class="form-control" id="firstName" name="firstName"
                                placeholder="First Name" required="true"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-2 control-label">Last
                            Name</label>
                        <div class="col-sm-10">
                            <input ng-model="user.lastName" type="text"
                                class="form-control" id="lastName" name="lastName"
                                placeholder="Last Name" required="true"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email
                            Address</label>
                        <div class="col-sm-10">
                            <input type="email" ng-model="user.email"
                                class="form-control" id="email" name="email"
                                placeholder="user@example.com" required="true"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressline1" class="col-sm-2 control-label">Address Line 1
                            </label>
                        <div class="col-sm-10">
                            <input ng-model="user.addressline1" type="text"
                                class="form-control" id="addressline1" name="addressline1"
                                placeholder="123 Anywhere Street"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressline2" class="col-sm-2 control-label">Address Line 2
                            </label>
                        <div class="col-sm-10">
                            <input ng-model="user.addressline2" type="text"
                                class="form-control" id="addressline2" name="addressline2"
                                placeholder="Apartment C"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">City</label>
                        <div class="col-sm-10">
                            <input ng-model="user.city" type="text"
                                class="form-control" id="city" name="city"
                                placeholder="City" required="true"></input>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">State</label>
                        <div class="col-sm-10">
                            <input ng-model="user.state" type="text"
                                class="form-control" id="state" name="state"
                                placeholder="State" required="true"></input>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="zipcode" class="col-sm-2 control-label">Zip Code</label>
                        <div class="col-sm-10">
                            <input ng-model="user.zipcode" type="text"
                                class="form-control" id="zipcode" name="city"
                                placeholder="Zip Code" required="true"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input ng-model="user.password" type="password"
                                class="form-control" id="password" name="password"
                                aria-describedby="helpBlock" required=""></input> <span
                                id="helpBlock" class="help-block">Password should be at
                                least 8 characters, 1 upppercase, 1 lowercase, 1 special
                                character, and one number</span>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span ng-show="addFlag"><button ng-click="addUser()"
                                    type="submit" class="btn btn-default">Add User</button></span> <span
                                ng-show="editFlag"><button
                                    ng-click="updateUser(user.userId)" type="submit"
                                    class="btn btn-default">Update User</button></span>
                        </div>
                    </div>
                </form>
                </md-dialog>
            </div>
        </div>
    </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js">
        
    </script>
    <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
    <script
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script
        src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script type="text/javascript"></script>
    <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js">
    </script>
    
    <script type="text/javascript">
	
	$(function(){
		
		$("#updateUserButton").click(function(){
			$( "#myModal" ).dialog("close")
		})
		$("#linkThatOpensModal").click(function(){
			$( "#myModal" ).dialog({
				width:700,
				 
			});
		})
	})
				
</script>

 <script type="text/javascript">
var app = angular.module('angularApp', ['ngResource', 'ngMaterial']);
app.factory('UserService', ['$resource', function ($resource) {
    return $resource(
        'http://localhost:8080/user/:userId',
        {userId: '@uid'},
        {update: {method: 'PUT'}}
    );
}]);
app.controller('UserCtrl', ['$scope', 'UserService', '$mdDialog',
    function($scope, UserService, $mdDialog) {
        $scope.users = [];
        $scope.user  = new UserService();
        $scope.action = "Add";
        $scope.addFlag = true;
        $scope.editFlag = false;
        $scope.getAllUsers = function(){
            $scope.users = UserService.query()
        }
        $scope.getAllUsers();
        $scope.deleteUser = function(id){
            $scope.user = UserService.delete({ userId: id},
                function() {
                    $scope.user = new UserService();
                    $scope.getAllUsers(); 
                });
        }
        $scope.addUser = function(){
          $scope.user.$save(
              function(user){ 
                 $scope.user = new UserService();
                 $scope.getAllUsers();
                 $mdDialog.hide();
              },
              function(err){
                 console.log(err.status);
              }
          );     
        }; 
        $scope.editUser = function(id){
            $scope.user = UserService.get({ userId: id}, function() { 
                $scope.showForm();
                $scope.action = "Update"
                $scope.addFlag = false;
                $scope.editFlag = true;
            });
        };  
        $scope.updateUser = function(id){
            $scope.user.$update({ userId: id},
                function(user){
                $scope.getAllUsers();
                    
                }
            )
        };
        $scope.addButtonClick = function(){
            $scope.showForm();
            $scope.user = new UserService();
            $scope.addFlag = true;
            $scope.editFlag = false;
            $scope.action = "Add";
        }
        $scope.showForm = function(ev) {
            $mdDialog.show({
              contentElement: '#userForm',
              parent: angular.element(document.body),
              targetEvent: ev,
              clickOutsideToClose: true
            });
          
        };

	}]
)
</script>
</body>
</html>