<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BANR - Basic Assistance Needs Resource</title>


    <!-- JQuery -->
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../css/small-business.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"></link>
    
   
    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
    href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"></link>
</head>






<body ng-app="angularApp">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#002A5C">
        <div class="container" style="height: 96px">
        
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="/icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="#">
                    <img src="images/BANR.jpg" align="middle" alt="">
                </a>
                
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" align="right" color="white">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    
                    <li>
                        <a href="#">Services</a>
                    </li>
                   
                    <li>
                        <a href="/developercontact.html">Contact</a>
                    </li>
                    
                </ul>
                
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>




    <!-- Page Content -->
    
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
        
            <div class="col-md-8"><br><br><br><br><br>
                <img class="img-responsive img-rounded" src="../images/people.jpg" height="350" width="900" alt="">
            </div>
            
            <!-- /.col-md-8 -->
            <div class="col-md-4"><br><br><br><br><br><br>
                <h1>Basic Assistance Needs Resource (BANR)</h1>
                <p>We provide the connections needed for those in need to find vital community resources.  Please create an account or sign in below to use this free service.</p>
                
               <div ng-controller="UserCtrl">
                <div class="alert alert-danger" th:if="${session.error != null}" th:text="${session.error}">Error if exists</div>
                <button ng-click="loginButtonClick()" class="btn btn-primary">Login</button>
                <button ng-click="addButtonClick()" class="btn btn-primary">Register</button>
            
       
 
                    <div style="display: none">
                        <div class="md-dialog-container" id="userForm">
            
                            <md-dialog><br>
                            <center><h2 style ="color:#002A5C">
                                <img src="../images/3icon.jpg"style= "width:40px;height:40px;">&nbsp Register User</h2>
                                </center>
                                <br>
                                
                            <div style="background-color:#002A5C; color:white">
                                <form id = "userForm" class="form-horizontal" method= "get" action= "form-handler.html" autocomplete = "off">
                                    <div class="form-group">
                                    <br><br>
                                        <label for="firstName" class="col-sm-2 control-label">First Name</label>
                                            <div class="col-sm-5">
                                                <input ng-model="user.firstName" type="text"
                                                class="form-control" id="firstName" name="firstName"
                                                ></input>
                                            </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="lastName" class="col-sm-2 control-label">Last Name</label>  
                                            <div class="col-sm-5">
                                                <input ng-model="user.lastName" type="text"
                                                class="form-control" id="lastName" name="lastName"
                                                ></input>
                                            </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Email Address</label>
                                            <div class="col-sm-5">
                                                <input type="email" ng-model="user.email"
                                                class="form-control" id="email" name="email"
                                                ></input>
                                            </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="addressline1" class="col-sm-2 control-label">Address Line 1</label>
                                            <div class="col-sm-5">
                                                <input ng-model="user.addressline1" type="text"
                                                class="form-control" id="addressline1" name="addressline1"
                                                ></input>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="addressline2" class="col-sm-2 control-label">Address Line 2</label>
                                                <div class="col-sm-5">
                                                    <input ng-model="user.addressline2" type="text"
                                                    class="form-control" id="addressline2" name="addressline2"
                                                    ></input>
                                                </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="city" class="col-sm-2 control-label">City</label>
                                                <div class="col-sm-5">
                                                    <input ng-model="user.city" type="text"
                                                    class="form-control" id="city" name="city"
                                                    ></input>
                                                </div>
                                        </div>
                                        
                                        
                                        <div class="form-group">
                                            <label for="state" class="col-sm-2 control-label">State</label>
                                                <div class="col-sm-5">
                                                    <input ng-model="user.state" type="text"
                                                    class="form-control" id="state" name="state"
                                                    ></input>
                                                </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="zipcode" class="col-sm-2 control-label">Zip Code</label>
                                                <div class="col-sm-5">
                                                    <input ng-model="user.zipcode" type="text"
                                                    class="form-control" id="zipcode" name="city"
                                                    ></input>
                                                </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="password" class="col-sm-2 control-label">Password</label>
                                                <div class="col-sm-5">
                                                    <input ng-model="user.password" type="password"
                                                    class="form-control" id="password" name="password"
                                                    aria-describedby="helpBlock"></input> 
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="verifyPassword" class="col-sm-2 control-label">Verify Password</label>
                                                <div class="col-sm-5">
                                                    <input type="password" class="form-control" id="verifyPassword" name="verifyPassword">
                                                </div>
                                        </div>
                  
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <span ng-show="addFlag"><button ng-click="addUser()"
                                            type="submit" class="btn btn-success">Register</button></span>
                                        </div>
                                    </div>
                    
                                </form>
                                
                            </div>
                            
                            </md-dialog>
                            
                        </div>
   
                    <!-- close div style display -->
                    </div>
     
     
     
     
     
     
     
                    <div style="display: none">
                        <div class="md-dialog-container" id="loginForm">
                            <md-dialog>
                                <div ng-app="">
                                    <form method="POST" action="/userLogin" id="loginForm" name="loginForm" style="width: 80%">
                                    
                                        <table id="fntable"><center><h3>&nbsp&nbspLogin</h3></center>
                                            <button type="submit">Submit</button>
                                            <tr>
                                                <td style="width:30%">User Email:</td>
                                                <td> <input id="email" name="email" type="text" class="form-control" placeholder = "E-mail"></td>
                                            </tr>
                                            
                                            <span>First Name Must be At Least 4 Characters</span>
                                                <tr>
                                                    <td style="width:30%">Password:</td>
                                                    <td>
                                                        <input id = "password" name="password" type="text" class="form-control" placeholder = "Password">
                                                    </td>
                                                    
                                                </tr>
                                            
                                                
                                            </table>
                                            
                                        </form>
                                    </div>
   
                            </md-dialog>        
                        </div>
                        
                    </div>
   
                </div>
     
                <!-- close user ctrl -->
                </div>
        
            </div>
    
        <!-- close row div -->
        </div>
        
        
        
        <hr>
        
            <!-- JQuery -->
            <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
            <!--JQuery Validate-->
            <script src="js/jquery.validate.js"></script>
            <script src="js/signup-form.js"></script>
            
            
            <!-- Angular -->
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
            
            <!-- Angular Material Library -->
            <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    
           
   
 
            <script> 
            $().ready(function()(
                //jQuery validate
                $("#userForm").validate({
                    rules: {
                        firstName: "required",
                        lastName: "required",
                        email: {
                            required: true,
                            email: true
                        },
                        addressline1: "required",
                        city: "required",
                        state: "required",
                        zipcode: "required"
                        password: {
                            required: true,
                            minlength: 8
                        },
                        verifyPassword: {
                            required: true,
                            minlength: 8,
                            equalTo: "#password"
                        }

                    },
                    messages: {
                        firstName: "Please emter your first name",
                        lastName: "Please emter your last name",
                        email: {
                            required: "Please enter your email address",
                            email: "Enter a valid email address"
                        },
                        addressline1: "Please provide your current address",
                        city: "Please provide the city in which you reside",
                        state: "Please provide the state in which you reside",
                        zipcode: "Please provide the zipcode for your current residence"
                        password: {
                            required: "Please provide a password",
                            minlength: "Your password must be at least 8 characters long"
                        },
                        verifyPassword: {
                            required: "Please provide a password",
                            minlength: "Your password must be at least 8 characters long",
                            equalTo: "Please enter the same password as above"
                        }
                    }
                });

                ))        
            var app = angular.module('angularApp', ['ngResource', 'ngMaterial']);
            
            app.factory('UserService', ['$resource', function ($resource) {
                return $resource(
                    'http://localhost:8080/user/:userId',
                    {userId: '@uid'},
                    {update: {method: 'PUT'}}
                );
            }]);