<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Services</title>
<!-- Modal Jquery -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"></link>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <link href="../../css/small-business.css" rel="stylesheet"></link>
    
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"></link>
<!-- Angular Material style sheet -->
    
 <!--Google Maps Call (might need to move this or change something, mainly with the callback portion at the end)-->
  <script defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBglBmUK-v4u4sdJdQnljxl_wwsNu_12w">      
  </script>
</head>
<body ng-app="angularApp">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
		style="background-color: #002A5C">
		<div class="container" style="height: 66px">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="/icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/home"> <img
					src="images/handholding.jpg" align="middle" alt=""
					style="width: 60px; height: 60px;">
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1" align="right" color="white">
				<ul class="nav navbar-nav">
				     <li>
                       <a href="/about" style="color: white">About</a>
                   </li>
                   <li>
                       <a href="/services" style="color: white">Services</a>
                   </li>
                   <li>
                       <a href="/developercontact" style="color: white">Contact</a>
                   </li>
                   <li>
                       <a th:if="${session.user != null}" href="/hudlocator" style="color: white">HUD Locator</a>
                   </li>
                    <li>
                        <a th:if="${session.user != null && session.user.email != 'admin@banr.gov'}"href="#" id="linkThatOpensModal" style="color: white">Manage Profile</a>
                    </li>
                    <li>
                       <a th:if="${session.user != null && session.user.email == 'admin@banr.gov'}" href="/admin" style="color: white">Administration</a>
                   </li>                                  
                   <li>
                       <a th:if="${session.user != null}" href="/userLogout" style="color: white">Logout</a>
                   </li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
    <!-- Page Content -->
    <div class="container">
        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <br> <br> <br> <br> <br> <br> <br>
                <img class="img-responsive img-rounded" src="../images/rope.jpg"
                    height="320" width="500" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <br> <br> <br> <br> <br> <br>
                <h1 style="text-align: center">Counseling Services</h1>
                <hr>
                <ul>
                    <li>Advice</li>
                    <ul>
                        <li>Buying a Home</li>
                        <li>Renting a Home</li>
                        <li>Defaults</li>
                        <li>Foreclosures</li>
                        <li>Credit Issues</li>
                    </ul><br>
                    <li> Fees</li>
                <ul>
                <li>Foreclosure prevention counseling and homeless counseling
                    services are available free of charge.</li>
                <li>Housing counseling agencies may charge reasonable and
                    customary fees for other forms of housing counseling and education
                    services.</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <hr>
        <center>
        <h3>Learn More About Housing Counselors</h3>
        <br>
        <iframe width="500" height="281"
            src="https://www.youtube.com/embed/_3HAAJLYsXo" frameborder="0"
            allowfullscreen></iframe>
    </center>
    <!-- Footer -->
    <footer>
        <div class="row" style="text-align: center">
            <div class="col-lg-12">
                <p>Copyright &copy; groupFive 2016</p>
                <p>
                    <a href="/sitemap">Site Map</a>
                </p>
            </div>
        </div>
    </footer>
    
<div style="display:none" "background-color:#002A5C" "color:white" id="myModal" title="Update Profile" th:if="${session.user} != null">
	

<div class="panel panel-info" >
	
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3 col-lg-3 " align="center">
			</div>
			<div class=" col-md-9 col-lg-9 " ng-controller="UserCtrl"> 
			<form class="form-horizontal" id="form-user-info">
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">First
                            Name</label>
                        <div class="col-sm-10" >
                           <input th:value="${session.user.firstName}" type="text"
                                class="form-control" id="firstName" name="firstName"
                                 required="true" ></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-2 control-label">Last
                            Name</label>
                        <div class="col-sm-10">
                            <input th:value="${session.user.lastName}" type="text"
                                class="form-control" id="lastName" name="lastName"
                                placeholder="Last Name" required="true"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email
                            Address</label>
                        <div class="col-sm-10">
                            <input th:value="${session.user.email}" type="email" 
                                class="form-control" id="email" name="email"
                                placeholder="user@example.com" required="true"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressline1" class="col-sm-2 control-label">Address Line 1
                            </label>
                        <div class="col-sm-10">
                            <input th:value="${session.user.addressline1}" type="text"
                                class="form-control" id="addressline1" name="addressline1"
                                placeholder="123 Anywhere Street"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressline2" class="col-sm-2 control-label">Address Line 2
                            </label>
                        <div class="col-sm-10">
                            <input th:value="${session.user.addressline2}" type="text"
                                class="form-control" id="addressline2" name="addressline2"
                                ></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">City</label>
                        <div class="col-sm-10">
                            <input th:value="${session.user.city}" type="text"
                                class="form-control" id="city" name="city"
                                placeholder="City" required="true"></input>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">State</label>
                        <div class="col-sm-10">
                            <input th:value="${session.user.state}" type="text"
                                class="form-control" id="state" name="state"
                                placeholder="State" required="true"></input>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="zipcode" class="col-sm-2 control-label">Zip Code</label>
                        <div class="col-sm-10">
                            <input th:value="${session.user.zipcode}" type="text"
                                class="form-control" id="zipcode" name="city"
                                placeholder="Zip Code" required="true"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input th:value="${session.user.password}" type="password"
                                class="form-control" id="password" name="password"
                                aria-describedby="helpBlock" required=""></input> <span
                                id="helpBlock" class="help-block">Password should be at
                                least 8 characters, 1 upppercase, 1 lowercase, 1 special
                                character, and one number</span>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                             <span>
                             	<button ng-click="updateUser('${session.user.userId}')" id="updateUserButton" type="submit 
                               	class="btn btn-default">Update User</button>
                             </span>
                        </div>
                    </div>
                </form>

			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js">
        
    </script>
    <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
    <script
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script
        src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script type="text/javascript"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js">
        
    </script>
    
    <script type="text/javascript">
	
	$(function(){
		
		$("#updateUserButton").click(function(){
			$( "#myModal" ).dialog("close")
		})
		$("#linkThatOpensModal").click(function(){
			$( "#myModal" ).dialog({
				width:700,
				 
			});
		})
	})
				
</script>

 <script type="text/javascript">
var app = angular.module('angularApp', ['ngResource', 'ngMaterial']);
app.factory('UserService', ['$resource', function ($resource) {
    return $resource(
        'http://localhost:8080/user/:userId',
        {userId: '@uid'},
        {update: {method: 'PUT'}}
    );
}]);
app.controller('UserCtrl', ['$scope', 'UserService', '$mdDialog',
    function($scope, UserService, $mdDialog) {
        $scope.users = [];
        $scope.user  = new UserService();
        $scope.action = "Add";
        $scope.addFlag = true;
        $scope.editFlag = false;
        $scope.getAllUsers = function(){
            $scope.users = UserService.query()
        }
        $scope.getAllUsers();
        $scope.deleteUser = function(id){
            $scope.user = UserService.delete({ userId: id},
                function() {
                    $scope.user = new UserService();
                    $scope.getAllUsers(); 
                });
        }
        $scope.addUser = function(){
          $scope.user.$save(
              function(user){ 
                 $scope.user = new UserService();
                 $scope.getAllUsers();
                 $mdDialog.hide();
              },
              function(err){
                 console.log(err.status);
              }
          );     
        }; 
        $scope.editUser = function(id){
            $scope.user = UserService.get({ userId: id}, function() { 
                $scope.showForm();
                $scope.action = "Update"
                $scope.addFlag = false;
                $scope.editFlag = true;
            });
        };  
        $scope.updateUser = function(id){
            $scope.user.$update({ userId: id},
                function(user){
                $scope.getAllUsers();
                    
                }
            )
        };
        $scope.addButtonClick = function(){
            $scope.showForm();
            $scope.user = new UserService();
            $scope.addFlag = true;
            $scope.editFlag = false;
            $scope.action = "Add";
        }
        $scope.showForm = function(ev) {
            $mdDialog.show({
              contentElement: '#userForm',
              parent: angular.element(document.body),
              targetEvent: ev,
              clickOutsideToClose: true
            });
          
        };

	}]
)
</script>
</body>
</html>
